body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: 'poppins', sans-serif;
  background-color: black;
}

.cubic {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: url('') no-repeat center center fixed;
  background-size: cover;
  
}

.about {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 40px;
  border-radius: 10px;
  color: white;
  text-align: center;
  transition: background-color 0.5s ease, transform 0.5s ease;
  /* border:1rem solid white; */
  /* box-shadow:0 0 1rem #fff,inset 0 0 1rem #fff,0 0 2rem #3877ff,inset 0 0 2rem #3877ff,0 0 3rem #3877ff,inset 0 0 3rem #3877ff; */
}

.about:hover {
  background-color: rgba(0, 0, 0, 0.8);
  transform: scale(1.05);
}

.about h1 {
  font-size: 3em;
  margin-bottom: 20px;
  transition: color 0.5s ease;
}

.about h1:hover {
  color: #61dafb;
}

.about p {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.about a {
  color: #61dafb;
  text-decoration: none;
  font-size: 2.2em;
  margin-bottom: 20px;
  display: inline-block;
}

.about a:hover {
  text-decoration: underline;
}

.about button {
  padding: 15px 30px;
  font-size: 2.2em;
  cursor: pointer;
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.about button:hover {
  background-color: #21a1f1;
  transform: scale(1.1);
}

